@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* --------------
common style
------------------------------  */
body{
    font-family:'Poppins', sans-serif;
    background-color: #f3f1ff;
    margin: 0% 0%;
}
/* ---------------------
header style
----------------------------  */
.page-title{
    font-size: 24px;
    margin-top: 60px;
    margin-bottom: 0;
    margin-left: 120px;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 1.4em;
    margin-right: 20px;
    margin-top: 5px;
}

nav{
    display: flex;
    justify-content: end;
}
.navigation{
    margin-right: 60px;
}

/* first-part of the top  */
.container{
    margin-top: 50px;
}
.first-part{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 80px;
}
.influencer-details{
    width: 582px;
    height: 270px;
    padding-left: 120px;
}
h1{
    font-size: 52px;
}
.first-button{
    text-decoration: none;
    background-color: rgb(197, 57, 252);
    padding: 11px 40px;
    border-radius: 20px;
    color: white;
    font-size: 1.3em;
}
.fa-arrow-right{
    margin-left: 5px;
}
.main-camera{
    height: 440px;
    width: 440px;
    padding: 10px;
    border: 2px solid #F1E4FF;
    border-radius: 220px;
}

/*------------------
    company logo
    -------------------------------  */
    .company-logo{
        margin: 30px 100px;
    }
    .logos{
        display: grid;
        grid-template-columns:repeat(7,1fr);
    }

/*-----------------
   collection  part  
   -----------------------------*/

   .collection-title{
       text-align: center;
   }
   .collection{
    width: 300px;
    height: 450px;
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}


   .item-name{
       margin-bottom: 0;
   }
   .rate{
       font-size: 23px;
       margin: 0;
       font-weight:100;
       color: rgba(0, 0, 0, 0.787);
   }
   .gear-info{
       margin-top: 5px;
       color: gray;
   }
   span{
       margin-left: 10px;
       font-size: 15px;
   }
   .fa-star{
    font-size: 10px;
}
   .fa-star.filled{
    color: rgb(255, 123, 0);
}
.fa-star.empty{
    color: #AEAEAE;
}
   .details{
       margin: 0;
       font: 0.8em;
   }

   .Popular-Collections{
       display: grid;
       grid-template-columns: repeat(3,1fr);
       grid-row-gap: 25px;
       margin-left: 135px;
       margin-right: 125px;
   }
   .see-more, .see-button{
       text-decoration: none;
       font-size: 17px;
       text-align: right;
       justify-content: space-between;
       margin-right: 100px;
       margin-top: 30px;
   }


.foot-area{
       background-color: rgb(36, 1, 68);
       padding-top: 2%;
       padding-bottom: 40px;
       margin: 0% 0%;
   }
.footer-test{
    text-align: center;
}
.footer-test h2{
    margin-bottom: 0;
    color:white;
    font-size: 24px;
}
.footer-test p{
    margin-bottom: 0;
    margin-top: 3px;
    font-size: 14px;
    color: #a0a1a5;
}
.social-icon{
    text-align: center;
    color: rgba(255, 255, 255, 0.781);
    /* color: rgba(36, 1, 68, 0.493); */
    padding-top: 15px;
}
.fab{
    margin-right: 10px;
    font-size: 25px;
}



